<body>
    
    <div class="center-container">
      <div class="loginuser">
          <form name="LoginForm" #loginData="ngForm" (ngSubmit)='login(loginData)'>
              <table>
                <tr><th colspan="2" style="font-size: 30px;">Login</th></tr>
                <tr><th>UserName : </th><td><input type="text" name="UserName" placeholder="Enter Your UserName"  ngModel required max="30" min="5"/></td></tr>
                <tr><th>Password : </th><td><input type="password" name="password"  placeholder="password" ngModel required /></td></tr>
                <tr><td colspan="2"><input type="submit" value="Login" [disabled]="!loginData.valid"/></td></tr>
              </table>
          </form>
      </div>
    </div>
  </body>